:root {
    --primary-color: #004B23;
    --second-color: #EDFFDD;
    --third-color: #63AD22;
    --text-dark: #071408;
    --text-light: #3a6b38;
    --extre-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);
    --background: #EDFFDD;
    --positive: #0d8ae5;
    --negative: #ff6b6b;

    --ff: 'montserrat', sans-serif;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    
}

.navbar_container {
    width: 0 auto;
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo img {
    width: 5rem;
    margin-left: 2rem;
    margin-right: -2rem;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    background-color: var(--white);
    border-radius: 10px;
}

.search-box input {
    border: none;
    outline: none;
    padding-left: 1rem;
    color: var(--text-light);
    width: 500px;
}

.search {
    border: none;
    background: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.2rem;
}

.search ion-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 0;
}

.navbar_links {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin: 1rem 2rem;
}

.navbar_links a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s ease;
    text-decoration: none;
    border-radius: 15px;
    padding: 0.4rem 0.7rem;
}

.navbar_links a:hover {
    color: var(--white);
    background-color: #004b23b7;
    border-radius: 15px;
    padding: 0.4rem 0.7rem;
}

.navbar_button a{
    color: inherit;
    text-decoration: none;
}

.navbar_buttons {
    display: flex;
    gap: 1.4rem;
    margin-right: 2rem;
}

.navbar_button button {
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 2rem;
}

.navbar_button ion-icon {
    border-radius: 50%;
    padding: 0.2rem;
    transition: 0.3s;
}

.navbar_button ion-icon:hover {
    color: var(--third-color);
}

.subscribe_button {
    background-color: var(--primary-color);
    color: var(--white);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    vertical-align: middle;
    border: none;
    border-radius: 26.84px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin: 20px 8px 10px 0;
    transition: all 0.3s ease;
}

.subscribe_button:hover {
    background-color: var(--third-color);
}

.foto_perfil img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin: 2rem;
}

.info_canal { 
    display: flex;
    text-align: left;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.infos{
    flex-direction: column;
}

.info_canal h1 {
    font-size: 3rem;
    color: var(--text-dark);
}

.info_canal_container {
    display: flex;
    margin: 1rem;
    margin-left: 4rem;
}

.infos {
    margin-left: 5rem;
}

hr {
    width: 90%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 6rem;
    height: 3px;
    background-color: var(--text-dark);
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin: 1rem;
    
}

.video img {
    width: 20rem;
    height: 13.5rem;
    border-radius: 10%;
    cursor: pointer;
}

.video img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.video img:active {
    transform: scale(0.95);
}

.video p{
    margin: 0.5rem 0 0 1rem;
    font-size: 1rem;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.1s;
}

.video p:hover {
    color: var(--third-color);
}

<<<<<<< HEAD
@media (min-width: 937px) {
    #toggle_menu {
      display: none;
    }
}
  

@media (max-width:937px) {
    .navbar_links, .navbar_buttons {
        display: none;
    }
    
    #toggle_menu{
        display: block;
        color: var(--white);
        font-size: 2.5rem;
        margin-right: 2rem;
        margin-top: 1rem;
        cursor: pointer;
    }

    .info_canal_container {
        margin: 0;
    }

    hr {
        margin: 2rem;
    }

    .foto_perfil img{
        width: 7rem;
        height: 7rem;
    }

    .info_canal h1{
        font-size: 30px;
    }

    .info_canal p{
        font-size: 12px;
    }

    .subscribe_button {
        transform: scale(0.9);
    }

    .video img{
        width: 15rem;
        height: 10.5rem;
    }
}

@media (max-width: 622px) {
    .info_canal_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .info_canal {
        margin: 0;
    }

    .info_canal {
        width: 70%;
    }

    .foto_perfil img{
        width: 9rem;
        height: 9rem;
    }

    .infos {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .info_canal { 
        display: flex;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 532px) {
    .videos {
        width: 100%;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0;
    }

    .video {
        width: 80%;
        margin: 0;
    }

    .video img {
        width: 100%;
        height: 16rem;
        margin: 0;
        border-radius: 10px;
    }
=======
/*FOOTER*/
.footer_content{
    display: flex;
    justify-content: space-around;
    margin: 1rem 7rem 4rem 7rem;
    color: var(--text-dark);
    font-family: 'Times New Roman', Times, serif;
}

.footer_content img{
    width: 15rem;
    height: 15rem;
}

.footer_content h3{
    font-style: italic;
}

.contatos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 15rem;
}

.contatos a{
    text-decoration: none;
    color: var(--text-light);
}

.meios_contato{
    display: flex;
}

.meios_contato img{
    width: 16rem;
    height: 4rem;
    cursor: pointer;
}

.sobre{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 15rem;
>>>>>>> 12815bdcf0ba5fc1407c82ac3a3b2bf7f69e2825
}