:root {
    --primary-color: #004B23;
    --second-color: #EDFFDD;
    --third-color: #63AD22;
    --text-dark: #071408;
    --text-light: #3a6b38;
    --extre-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);
    --background: #EDFFDD;
    --positive: #0d8ae5;
    --negative: #ff6b6b;
    --ff: 'montserrat', sans-serif;
    font-size: 100%;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    
}

.navbar_container {
    width: 0 auto;
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo img {
    width: 5rem;
    margin-left: 2rem;
    margin-right: -2rem;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    background-color: var(--white);
    border-radius: 10px;
}

.search-box input {
    border: none;
    outline: none;
    padding-left: 1rem;
    color: var(--text-light);
    width: 500px;
}

.search {
    border: none;
    background: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.2rem;
}

.search ion-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 0;
}

.navbar_links {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin: 1rem 2rem;
}

.navbar_links a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s ease;
    text-decoration: none;
    border-radius: 15px;
    padding: 0.4rem 0.7rem;
}

.navbar_links a:hover {
    color: var(--white);
    background-color: #004b23b7;
    border-radius: 15px;
    padding: 0.4rem 0.7rem;
}

.navbar_button a{
    color: inherit;
    text-decoration: none;
}

.navbar_buttons {
    display: flex;
    gap: 1.4rem;
    margin-right: 2rem;
}

.navbar_button button {
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 2rem;
}

.navbar_button ion-icon {
    border-radius: 50%;
    padding: 0.2rem;
    transition: 0.3s;
}

.navbar_button ion-icon:hover {
    color: var(--third-color);
}

.comentarios-container{
    width: 60%;
    height: auto;
}

.comentarios {
    width: 100%;
}

.comentario {
    font-size: 1rem;
    color: var(--white);
    background-color: #004B23;
    margin-top: 50px;
    padding: 15px;
    border-radius: 15px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    box-shadow: black 2px 2px 10px;
}

.usuario {
    font-weight: bold;
    margin: 0 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-light);
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
}

.foto-usuario 	{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
}

.nome-usuario {
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
    color: var(--background);
}

/*Comentarios 2*/

.comentario-2 {
    font-size: 1rem;
    color: var(--white);
    background-color: var(--third-color);
    margin: 50px 20px 20px 40%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: black 2px 2px 10px;
}

.usuario-2 {
    font-weight: bold;
    margin: 0 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
    filter: brightness(0.9);
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
}

.foto-usuario-2 	{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 17px;
}

.nome-usuario-2 {
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
    color: var(--text-dark);
}

/*Digitar-Comentarios*/

.adicionar-comentario {
    display: flex;
    align-items: center;
    margin-top: 30px;
    background-color: var(--primary-color);
    padding: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.adicionar-comentario input{
    transition: all 0.3s ease;
}

.search_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--secundary_color);
    padding-bottom: 0.1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.1rem;
    background-color: var(--text-light);
    padding: 30px;
    width: 70%;
    color: var(--white);
    filter: brightness(0.9);
}

.search_box input {
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 1rem;
    font-style: italic;
    color: var(--text-dark);
    width: 70%;
    background-color: var(--second-color);
    height: 2rem;
    border-radius: 2rem;
}

.search_box input::placeholder {
    color: var(--text-dark);
    filter: opacity(0.6);
    font-size: 15px;
}

.adicionar-comentario input:hover {
    transform: scale(1.02);
}

.search-box ion-icon {
    display: flex;
}

.search {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.2rem;
    color: var(--primary-color);
    background-color: var(--background);
    padding: 0.3rem 0.3rem 0.3rem 0.4rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.more {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.2rem;
    color: var(--background);
    background-color: var(--text-light);
}

.find {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.2rem;
    color: var(--background);
    background-color: var(--text-light);
}

.emoji {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.2rem;
    color: var(--background);
    background-color: var(--text-light);
}

.more ion-icon, .find ion-icon, .emoji ion-icon {
    transition: all 0.3s ease;
}

.more ion-icon:hover, .find ion-icon:hover, .emoji ion-icon:hover {
    color: var(--third-color);
}

.search:hover {
    background-color: var(--third-color);
}

@media screen and (min-width: 752px) {
    #toggle_menu{
        display: none;
    }
}

@media screen and (max-width: 751px) {

    .navbar_links, .navbar_buttons {
        display: none;
    }

    #toggle_menu{
        display: block;
        color: var(--white);
        font-size: 2.5rem;
        margin-right: 2rem;
        cursor: pointer;
    }

    .comentarios-container {
        width: 90%;
    }

    .comentario{
        margin-left: 10px;
        margin-right: 10px;
    }

    .comentario-2{
        margin-right: 10px;
        margin-left: 10%;
    }

    .emoji, .find{
        display: none;
    }

    .search_box {
        width: 100%;
        transform: scale(0.9);
    }

    .search-box input{
        width: 70%;
    }

    .adicionar-comentario {
        width: 100%;
        padding: 0;
    }

    .comentario, .comentario-2 {
        font-size: 0.8rem;
        font-weight: normal;
        padding: 10px;
    }

    .usuario, .usuario-2 {
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .nome-usuario, .nome-usuario-2 {
        font-size: 12px;
        margin: 0;
    }

    .usuario img, .usuario-2 img{
        width: 40px;
        height: 40px;
        margin: 0;
    }
}
