:root {
    --primary-color: #004B23;
    --second-color: #EDFFDD;
    --third-color: #63AD22;
    --text-dark: #071408;
    --text-light: #3a6b38;
    --extre-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);
    --background: #EDFFDD;
    --ff: 'montserrat', sans-serif;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}

.navbar_container {
    width: 0 auto;
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo img {
    width: 5rem;
    margin-left: 2rem;
    margin-right: -2rem;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    background-color: var(--white);
    border-radius: 10px;
}

.search-box input {
    border: none;
    outline: none;
    padding-left: 1rem;
    color: var(--text-light);
    width: 500px;
}

.search {
    border: none;
    background: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.2rem;
}

.search ion-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 0;
}

.navbar_links{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin: 1rem 2rem;
}

.navbar_links a{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 15px;
    padding: 0.4rem 0.7rem;
}

.navbar_button a{
    color: inherit;
    text-decoration: none;
}

.navbar_links a:hover{
    color: var(--white);
    background-color: #004b23b7;
    border-radius: 15px;
    padding: 0.4rem 0.7rem;
}

.navbar_buttons {
    display: flex;
    gap: 1.4rem;
    margin-right: 2rem;
}

.navbar_button button {
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 2rem;
}

.navbar_button ion-icon {
    border-radius: 50%;
    padding: 0.2rem;
    transition: 0.3s;
}

.navbar_button ion-icon:hover {
    color: var(--third-color);
}

.text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text-content {
    flex: 1;
    margin-left: 130px;
    padding-right: 200px;
    width: 60%;
}

.text h1 {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: left;
}

.text p {
    color: var(--text-dark);
    padding-top: 50px;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: left;
}

.text-images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin-right: 130px;
    margin-top: 20px;
    width: 40%;
}

#image-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.image-row {
    display: flex;
    gap: 20px;
}

#image1 {
    width: 45%;
    height: 320px;
    border-radius: 12px;
}

#image2 {
    width: 55%;
    height: 420px;
    border-radius: 12px;
}
/*FOOTER*/
footer {
    width: 100%;
}

.footer_content{
    padding: 3rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    margin: 4rem 0 0 0;
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

.footer_content img{
    width: 15rem;
    height: 15rem;
}

.footer_content h3{
    font-style: italic;
}

.contatos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 15rem;
}

.contatos a{
    text-decoration: none;
    color: var(--third-color);
}

.meios_contato{
    display: flex;
}

.meios_contato img{
    width: 16rem;
    height: 4rem;
    cursor: pointer;
}

.sobre{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 15rem;
}

/* Em telas grandes, esconde o ícone hambúrguer */
@media (min-width: 1401px) {
    #toggle_menu {
      display: none;
    }
}

@media screen and (max-width: 1587px) {
    .text-content p{
        font-size: 1.2rem;
    }
    .footer_content{
        gap: 2rem;
        margin: 1rem 2rem 4rem 2rem;
    }

    .footer_content img{
        width: 10rem;
        height: 10rem;
    }

    .meios_contato img{
        width: 12rem;
        height: 3rem;
    }
}
  
/* RESPONSIVIDADE */
@media screen and (max-width: 1400px) {
  
    .navbar_links, .navbar_buttons {
      display: none;
    }
  
    #toggle_menu{
      display: block;
      color: var(--white);
      font-size: 2.5rem;
      margin-right: 2rem;
      margin-top: 1rem;
      cursor: pointer;
    }
  
    .navbar_logo img{
      width: 4rem;
      margin-left: 1rem;
      margin-right: -1rem;
      margin-top: 1rem;
    }
  
    .navbar_container{
      padding: 8px;
    }

    .text {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
  
    .text-content {
        margin-left: 20px;
        padding-right: 20px;
        width: 90%;
        text-align: center;
    }
  
    .text h1 {
        font-size: 2.5rem;
    }
  
    .text-images {
        flex-direction: column;
        align-items: center;
        margin: 5rem 0 3rem 0;
        width: 90%;
    }
  
    #image-top{
        width: 100%;
        height: auto;
    }

    #image1, #image2 {
        width: 48%;
        height: auto;
    }
    
    .footer_content{
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem 4rem 1rem;
        text-align: center;
    }

    .footer_content img{
        width: 8rem;
        height: 8rem;
    }

    .footer_content h3{
        font-size: 1rem;
    }

    .meios_contato{
        justify-content: center;
    }

    .meios_contato img{
        width: 10rem;
        height: 2.5rem;
    }

    .contatos, .sobre{
        width: 100%;
        gap: 1.5rem;
    }

    .contatos, .sobre p{
        font-size: 0.8rem;
    }
}